<ion-header>
  <ion-toolbar color="warning">
    <ion-icon slot="icon-only" name="md-apps"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mcdonald"></ion-back-button>
    </ion-buttons>
    <ion-title>Hamburguesa Normal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="../../assets/static/hamburgesa.png" alt="hamburgesa normal">
  <h2>Hamburguesa</h2>
  <ion-label>Deliciosa carne 100% res, 
    acompañada de catsup, mostaza, pepinillos y cebolla
    con un fresco y esponjado bollo. Un clásico de Siempre.
  </ion-label>
</ion-content>
