<ion-header>
  <ion-toolbar color="warning">
    <ion-icon slot="icon-only" name="md-apps"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mcdonald"></ion-back-button>
    </ion-buttons>
    <ion-title>Hamburguesa de Pollo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="../../assets/static/hamburgesa pollo.png" alt="hamburguesa mcpollo">
  <h2>Hamburguesa Mc Pollo</h2>
  <ion-label>Deliciosa hamburguesa de pollo empanizado,
    acompañado de lechuga y mayonesa. ¡Sencilla y deliciosa!
  </ion-label>
</ion-content>
