<ion-header>
  <ion-toolbar color="warning">
    <ion-icon slot="icon-only" name="md-apps"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mcdonald"></ion-back-button>
    </ion-buttons>
    <ion-title>Cajita Feliz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h2>Cajita Feliz</h2>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/static/hamburguesaconcondimentos_mx.png" alt="Hamburguesa" width="100px">
      <h2><strong>Hamburguesa</strong></h2>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/static/hamburguesa-lechuga-tomate-mx.png" alt="Hamburguesa lechuga tomate">
      <h2><strong>Hamburguesa con Lechuga y Tomate</strong></h2>
    </ion-slide>
  </ion-slides>

    <img src="../../assets/static/papas_ar_mx.png" alt="papas">
    <h2><strong>Papas Pequeñas</strong></h2>

  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/static/jugonaranja-mx.png" alt="jugo">
      <h2><strong>Jugo de Naranja</strong></h2>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/static/Agua-mx.png" alt="agua">
      <h2><strong>Agua</strong></h2>
    </ion-slide>
  </ion-slides>

    <img src="../../assets/static/yogurt-mx.png" alt="yogurt">
    <h2><strong>Yogurt</strong></h2>

  
</ion-content>
