<ion-content [fullscreen]="true" color="tertiary">
  <section class="container ion-text-center">
    <figure>
      <img src="../../assets/static/logo.png" alt="Logo DMENU">
    </figure>
      <h2>Escanea aquí tu menú</h2>
    <ion-button color="warning" expand="block">
      <ion-icon name="camera"></ion-icon>
      Escanear
    </ion-button>
    <h3>Destacados</h3>
    <div class="destacados">

      <div class="destacados__item--1">
        <img src="../../assets/static/logo macd.png" alt="Logo McDonald" width="60px">
      </div>

      <div class="destacados__item--2">
        <img src="../../assets/static/casa de los abuelos logo.png" alt="Logo Casa de los Abuelos" width="60px">
      </div>

      <div class="destacados__item--3">
        <img src="../../assets/static/bobinos.jpeg" alt="Logo Bobinos" width="60px">
      </div>

    </div>
    <br>
    <div class="destacados">

      <div class="destacados__item--4">
        <img src="../../assets/static/carls logo.jpeg" alt="Logo Carls jr" width="60px">
      </div>

      <div class="destacados__item--5">
        <img src="../../assets/static/pampas logo.jpeg" alt="Logo Pampas" width="65px">
      </div>

      <div class="destacados__item--6">
        <img src="../../assets/static/sushi logo.jpeg" alt="Logo Sushi Ken" width="65px">
      </div>
      
    </div>
  </section>
</ion-content>
