.container {
  padding-top: 50%;
}

button {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellow;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 90px;
  height: 35px;
}
